pkgbase = wahoo
	pkgdesc = an AUR helper made in python because why not? made with <3 by spark
	pkgver = 0.4
	pkgrel = 1
	url = https://github.com/sparkhere-sys/wahoo
	arch = x86_64
	license = Custom
	depends = python>=3.11
	depends = git
	depends = bash
	depends = python-requests
	depends = python-rapidfuzz
	depends = sudo
	provides = wahoo
	source = wahoo.py
	source = LICENSE
	sha256sums = b4102fd2cd5135e66c1314d5325b39e6054cbe4e39ec0cabe4ec286604cf9065
	sha256sums = fb5d9a672ee9f4b5669d263652adaba135ec35ce1d0a693767caa0a8048f930a

pkgname = wahoo
