pkgbase = wahoo-dev
	pkgdesc = an AUR helper made in python because why not? made with <3 by spark
	pkgver = 0.4
	pkgrel = 1
	url = https://github.com/sparkhere-sys/wahoo
	arch = x86_64
	license = Custom
	depends = python>=3.11
	depends = git
	depends = bash
	depends = python-requests
	depends = python-rapidfuzz
	depends = sudo
	provides = wahoo
	source = wahoo.py
	source = LICENSE
	sha256sums = b88bf6577b6d362e4d329ba3264a99170a40777766c77798afbf81ebdae130b8
	sha256sums = 5185e0b407183c9879d4cda5a6c2db8b442616ec4bf3a654c5cb3da68ce92404

pkgname = wahoo-dev
