pkgbase = wahoo
	pkgdesc = an AUR helper made in python because why not? made with <3 by spark
	pkgver = 0.5
	pkgrel = 1
	url = https://github.com/sparkhere-sys/wahoo
	arch = x86_64
	license = Custom:Modified-MIT
	depends = python>=3.11
	depends = git
	depends = bash
	depends = python-requests
	depends = python-rapidfuzz
	depends = sudo
	provides = wahoo
	conflicts = wahoo
	source = wahoo.py
	source = LICENSE
	source = wahoo.tar.gz
	sha256sums = c1823bb0eb6a121de5e24c222db870ae47f8a5a4f9cfc7d27fd3708a61edd80c
	sha256sums = fb5d9a672ee9f4b5669d263652adaba135ec35ce1d0a693767caa0a8048f930a
	sha256sums = ac9fbef4322f274223ea96e620e414a3f77a65b1b1583cee1822874e8f6d3dd2

pkgname = wahoo
